.content {
  display: flex;
  justify-content: center;
  flex-direction: column;
}

.forecastDisplay {
  display: flex;
  justify-content: space-evenly;
}

.cityName {
  text-align: center;
  font-size: 3rem;
}

h1 {
  text-align: center;
  font-size: 5rem;
}

.detailedViewSection {
  color: white;
  border-radius: 10px;
  background-color: #34a0a4;
  padding-left: 50px;
  padding-right: 50px;
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  text-align: center;
  min-width: 150px;
}

@media only screen and (max-width: 820px) {
  .forecastDisplay {
    min-height: 50px;
    min-width: 50px;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
  }

  .detailedViewSection {
    margin-bottom: 10px;
    min-width: 150px;
  }
}
